<div class="draglist" style="" >
  <ul class="drag-items">
    <li  span="5" para_icon="report_heading" para_type="normal" chart_type="para" class="drag-li ui-draggable">
      <span class="lang" lang_id="RE_REPORT_HEADER">Report Header</span>
    </li>
    <li span="5" para_icon="section_heading" para_type="normal" chart_type="para" class="drag-li ui-draggable">
      <span  class="lang" lang_id="RE_SECTION_HEADER">Section Header</span>
    </li>
    <li span="4" chart_type="line_chart" id="line_chart" class="drag-li ui-draggable">
      <span class="lang" lang_id="RE_LINE">Line</span>
    </li>
    <li span="5" chart_type="bar_chart" class="drag-li ui-draggable">
      <span class="lang" lang_id="RE_PERF_HISTORY">Performance History</span>
    </li>
    <li span="1" chart_type="health_chart" class="drag-li ui-draggable">
      <span class="lang" lang_id="RE_HEALTH">Health</span>
    </li>
      <li span="1" chart_type="pie_chart" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_PIE">Pie</span>
      </li>
      <li span="5" chart_type="table" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_TABLE">Table</span>
      </li>
      <li span="5" chart_type="manual_table" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_MANUAL_TABLE">Manual Data Table</span>
      </li>
      <li span="5" chart_type="manual_data_service" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_MANUAL_SERVICE">Manual Data Service</span>
      </li>
      <li span="5" chart_type="activity_feed" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_ACTIVITY">Activity Feed</span>
      </li>
      <li span="5" chart_type="alarm" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_ALARMS">Alarms</span>
      </li>
      <li span="5" chart_type="c_p" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_CORD_PH">Coordinated Phosphate</span>
      </li>
      <li span="5" chart_type="value_projects" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_VP">Value Project</span>
      </li>
      <li span="5" para_icon="normal" para_type="normal" chart_type="para" class="drag-li ui-draggable">
        <span class="lang" lang_id="RE_BASE_TXT">Base Text</span>
      </li>
      <li span="5" disabled="disabled" chart_type="image" class="drag-li ui-draggable" style="opacity:0.5">
        <span class="lang" lang_id="RE_IMG">Image</span>
      </li>
      <li span="5" disabled="disabled" chart_type="report_comment" class="drag-li ui-draggable" style="opacity:0.5">
        <span class="lang" lang_id="RE_VAR_TXT">Variable Text</span>
      </li>
    </ul>
</div>
